.logout {
    margin-top: 7px;
}

.form-control{
    width: 20%;
}

.all-books, .heading{
    padding-top: 20px;
    padding-bottom: 20px;
}

.thumbnail{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 8px;
}

.book-cover{
    height: 200px;
}

.book-info{
    height: 125px;
}

.borrowed-text {
    font-style: italic;
}

.shelf-info{
    padding-top: 25px;
    padding-bottom: 15px;
}

.shelf-name, .all-books-name, .name-heading {
    display: inline;
}

.see-more {
    display: inline;
    float: right;
}