.logout {
    margin-top: 7px;
}

/*.form-control{*/
    /*width: 20%;*/
/*}*/

.all-books, .heading{
    padding-top: 20px;
    padding-bottom: 20px;
}

.thumbnail{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 8px;
}

.book-cover{
    height: 200px;
}

.book-info{
    height: 125px;
}

.borrowed-text {
    font-style: italic;
}

.shelf-info{
    padding-top: 25px;
    padding-bottom: 15px;
}

.shelf-name, .all-books-name, .name-heading, .inline {
    display: inline;
}

.see-more {
    display: inline;
    float: right;
}

.reset-search{
    padding-top:5px;
}

.more-height {
    margin-bottom: 200px;
}

.more-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.more-margin-right{
    margin-right: 10px;
}

.side-by-side-left{
    float: left;
}

.side-by-side-right{
    float: right;
}

.book-detail-info-centered{
    text-align: center;
}

.book-detail-info-left{
    text-align: left;
}

#shelves-group{
    margin-right: 0;
    margin-left: 0;
}
