.header-img {
    width: 100%;
    height: 250px;
    /*Photo by Alejandro Escamilla on Unsplash*/
    background-image: url("../img/header-img.jpg");
    background-position: 0px -250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    margin-bottom: 15px;
}

.small-header-img {
    width: 100%;
    height: 150px;
    /*Photo by Alejandro Escamilla on Unsplash*/
    background-image: url("../img/header-img.jpg");
    background-position: 0px -325px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 15px;
}

.navbar-default {
    margin-bottom: 0px;
    background-color: #381C15;
    border-color: #381C15;
}

/* Title */
.navbar-default .navbar-brand {
    color: #F0F5DB;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #CCC1A0;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #CCC1A0;
}

.navbar-default .btn-link {
    color: #CCC1A0;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #F0F5DB;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F0F5DB;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #F0F5DB;
    background-color: #381C15;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #F0F5DB;
    background-color: #381C15;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #CCC1A0;
    border-bottom-color: #CCC1A0;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #CCC1A0;
    border-bottom-color: #CCC1A0;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #CCC1A0;
    border-bottom-color: #CCC1A0;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #CCC1A0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F0F5DB;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC1A0;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #CCC1A0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #F0F5DB;
    }
}


.logout {
    color: #CCC1A0;
    margin-top: 7px;
}

h1, h2, h3, h4, h5, h6 {
    color: #381C15;
}

.empty {
    color: darkgray;
}


.all-books, .heading{
    padding-top: 20px;
    padding-bottom: 20px;
}

.thumbnail{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 8px;
}

.book-cover{
    height: 200px;
}

.book-info{
    height: 125px;
}

.borrowed-text {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #381C15;
}

.shelf-info{
    padding-top: 25px;
    padding-bottom: 15px;
}

.shelf-name, .all-books-name, .name-heading, .inline {
    display: inline;
}

.see-more {
    display: inline;
    float: right;
}

.reset-search{
    padding-top:5px;
}

.more-height {
    margin-bottom: 200px;
}

.more-bottom-padding {
    padding-bottom: 10px;
}

.more-padding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.more-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.more-margin-right{
    margin-right: 10px;
}

.side-by-side-left{
    float: left;
}

.side-by-side-right{
    float: right;
}

.book-detail-info-centered{
    text-align: center;
}

.book-detail-info-left{
    text-align: left;
}

#shelves-group{
    margin-right: 0;
    margin-left: 0;
}

.edit-shelf{
    margin-right: 10px;
}


