<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
<div class="container">
    <section class="row col-md-12">
        <h1>
            <span>Welcome </span>
            <span th:text="${user.firstName}"></span>
        </h1>
        <form class="form-inline" th:action="@{/searchToAdd}">
            <div class="form-group">
                <input type="text" name="searchText" class="form-control" placeholder="Search"/>
            </div>
            <div class="form-group">
                <select name="searchBy" class="form-control">
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                </select>
            </div>
            <div class="form-group">
                <select name="searchIn" class="form-control">
                    <option value="mine">Search in My Collection</option>
                    <option value="borrow">Search to Borrow</option>
                    <option value="add">Search to Add a New Book</option>
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Search"/>
        </form>
    </section>
    <section class="col-md-12">
        <div class="heading">
            <h3 th:inline="text" th:if="${currentUser.id != user.id}" class="name-heading">All of [[${{user.username}}]]'s Books</h3>
            <h3 th:inline="text" th:if="${currentUser.id == user.id}" class="name-heading">All of your Books</h3>
            <span><a th:if="${currentUser.id != user.id}" th:href="'/' + ${user.id}" th:inline="text" class="btn btn-info see-more">Back to [[${user.username}]]'s Home Page</a></span>
            <span><a th:if="${currentUser.id == user.id}" href="/" th:inline="text" class="btn btn-info see-more">Back to your Home Page</a></span>
        </div>
        <div class="row">
            <div th:each="book: ${books}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                <div class="book-cover">
                    <img th:src="${book.img}" alt="book cover"/>
                </div>
                <div class="caption">
                    <div class="book-info">
                        <h5 th:text="${book.title}"></h5>
                        <p th:text="${book.author}"></p>
                        <p th:if="${allBorrowedBooks.contains(book)}" class="borrowed-text">This book has been borrowed</p>
                    </div>
                    <div class="book-btns">
                        <a  th:if="${book.user == currentUser}" th:href="'/book/' + ${book.id} + '/edit'" class="btn btn-info btn-block">Edit</a>
                        <a th:if="${book.user != currentUser and allBorrowedBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-info btn-block">Be Placed on Waitlist</a>
                        <button th:if="${book.user != currentUser and allPendingBooks.contains(book) and !allBorrowedBooks.contains(book)}" class="btn btn-info btn-block">Request is Pending</button>
                        <a th:if="${book.user != currentUser and !allBorrowedBooks.contains(book) and !allPendingBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-info btn-block">Borrow</a>
                        <a th:href="'/book/' + ${book.id}" class="btn btn-info btn-block">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<span th:include="includes :: js"></span>
</body>
</html>