<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${book.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <section th:if="${ifBorrowed.contains(book) and ifPending.isEmpty()}" class="header-img">
        <div class="container">
            <section class="row col-md-12">
                <h1 th:inline="text">[[${book.user.username}]]'s book: [[${{book.title}}]]</h1>
                <p th:if="${book.user.username != currentUser.username and ifBorrowed.contains(book) and ifPending.isEmpty()}" class="borrowed-text">This book has been borrowed</p>
            </section>
        </div>
    </section>
    <section th:if="${!ifBorrowed.contains(book) and ifPending.isEmpty()}" class="small-header-img">
        <div class="container">
            <section class="row col-md-12">
                <h1 th:inline="text">[[${book.user.username}]]'s book: [[${{book.title}}]]</h1>
                <p th:if="${book.user.username != currentUser.username and ifBorrowed.contains(book) and ifPending.isEmpty()}" class="borrowed-text">This book has been borrowed</p>
            </section>
        </div>
    </section>
    <div class="container">
        <div class="book-panel panel panel-default more-padding col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
            <div class="book-detail-info">
                <div class="book-detail-info-centered">
                    <img th:src="${book.img}" alt="book cover"/>
                    <h4 th:text="${book.title}"></h4>
                    <p th:text="${book.author}"></p>
                    <p>
                        <span>Date Published:</span>
                        <span th:text="${book.datePublished}"></span>
                    </p>
                    <p>
                        <span>Copies Owned:</span>
                        <span th:text="${book.copies}"></span>
                    </p>
                    <p>
                        <span th:if="${book.rating != 0}">Owner's Rating: </span>
                        <span th:if="${book.rating != 0}" th:switch="${book.rating}">
                    <span th:case="5">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </span>
                    <span th:case="4">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </span>
                    <span th:case="3">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </span>
                    <span th:case="2">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </span>
                    <span th:case="1">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </span>
                </span>
                    </p>
                    <p>
                        <span>Shelves:</span>
                        <span th:each="shelf, iterStat : ${shelves}">
                    <!--TH IF NOT LAST INDEX THEN COMMA AFTER-->
                    <span th:text="${shelf.name}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
                    </p>
                </div>
                <p th:text="${book.summary}"></p>
            </div>
            <div class="book-btns book-detail-info-centered">
                <a th:if="${book.user.username == currentUser.username}" href="#" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> You Own</span>
                </a>
                <a th:if="${book.user.username != currentUser.username and ifBorrowed.contains(book) and ifPending.isEmpty()}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-success">Be Placed on Waitlist</a>
                <p th:if="${book.user.username != currentUser.username and ifPending.contains(book) and ifBorrowed.isEmpty()}" class="btn btn-success">Request is Pending</p>
                <a th:if="${book.user.username != currentUser.username and ifBorrowed.isEmpty() and ifPending.isEmpty()}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-success">Borrow</a>
                <a th:if="${book.user.username == currentUser.username}" th:href="'/book/' + ${book.id} + '/edit'" class="btn btn-success">Edit</a>
                <a th:if="${currentUser.id != book.user.id}" th:href="'/' + ${book.user.id}" th:inline="text" class="btn btn-success">Back to [[${book.user.username}]]'s Home Page</a>
                <a th:if="${currentUser.id == book.user.id}" href="/" th:inline="text" class="btn btn-success">Back to your Home Page</a>
            </div>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>