<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to a Friend's Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
<section class="header-img">
    <div class="container">
        <section class="row col-md-12">
            <h1 th:inline="text">[[${user.firstName}]]'s Library</h1>
            <form class="form-inline" th:action="'/' + ${user.id}" method="post">
                <div class="form-group">
                    <select name="searchBy" class="form-control" onchange="searchByTitleAndAuthor()" id="searchBy">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="titleAndAuthor">Title and Author</option>
                    </select>
                </div>
                <div class="form-group" id="titleSearch">
                    <input type="text" name="titleSearch" class="form-control" placeholder="Title"/>
                </div>
                <div class="form-group hidden" id="authorSearch">
                    <input type="text" name="authorSearch" class="form-control" placeholder="Author"/>
                </div>
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" name="searchQuery" placeholder="Search"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<select name="searchType" class="form-control">-->
                        <!--<option value="title">Title</option>-->
                        <!--<option value="author">Author</option>-->
                    <!--</select>-->
                <!--</div>-->
                <span>
                    <input type="submit" class="btn btn-success" value="Search"/>
                </span>
                <span>
                    <a th:href="'/' + ${user.id}" class="btn btn-warning">Clear Search</a>
                </span>
            </form>
        </section>
    </div>
</section>
<div class="container">
    <section class="col-md-12">
        <div class="all-books">
            <h3 th:inline="text" class="all-books-name">[[${user.firstName}]]'s Books</h3>
            <span><a class="btn btn-success see-more" th:href="'/' + ${user.id} + '/bookAll'">See More</a></span>
        </div>
        <div class="row">
            <div th:each="book, iterStat: ${books}" th:if="${iterStat.index >= iterStat.size-4}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                <div class="book-cover">
                    <img th:src="${book.img}" class="book-cover" alt="book cover"/>
                </div>
                <div class="caption">
                    <div class="book-info">
                        <h5 th:text="${book.title}"></h5>
                        <p th:text="${book.author}"></p>
                        <p class="borrowed-text" th:if="${book.user != currentUser and allBorrowedBooks.contains(book)}">This book has been borrowed</p>
                    </div>
                    <div class="book-btns">
                        <a th:if="${book.user != currentUser and allBorrowedBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-info btn-block">Be Placed on Waitlist</a>
                        <button th:if="${book.user != currentUser and allPendingBooks.contains(book) and !allBorrowedBooks.contains(book)}" class="btn btn-info btn-block">Request is Pending</button>
                        <a th:if="${book.user != currentUser and !allBorrowedBooks.contains(book) and !allPendingBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-info btn-block">Borrow</a>
                        <a th:href="'/book/' + ${book.id}" class="btn btn-info btn-block">See Details</a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </section>
    <section class="row col-md-12">
        <div class="shelf-info">
            <h3 th:inline="text" th:if="${shelves}" class="shelf-name">[[${user.firstName}]]'s Shelves</h3>
            <span><a class="btn btn-success see-more" th:href="${user.id} + '/shelf'">See All Shelves</a></span>
        </div>
        <div class="container">
            <div th:if="${shelves}" th:each="shelf : ${shelves}" class="row">
                <div class="row shelf container">
                    <div class="shelf-info">
                        <h4 class="shelf-name" th:text="${shelf.name}"></h4>
                        <span><a class="btn btn-success see-more" th:href="'/shelf/' + ${shelf.id}">See More</a></span>
                    </div>
                    <div th:each="shelfBook, iterStat : ${shelf.books}" th:if="${iterStat.index >= iterStat.size-4}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                        <div class="book-cover">
                            <img th:src="${shelfBook.img}" class="book-cover" alt="book cover"/>
                        </div>
                        <div class="caption">
                            <div class="book-info">
                                <h5 th:text="${shelfBook.title}"></h5>
                                <p th:text="${shelfBook.author}"></p>
                                <p th:if="${allBorrowedBooks.contains(shelfBook)}" class="borrowed-text">This book has been borrowed</p>
                            </div>
                            <div class="book-btns">
                                <a th:if="${shelfBook.user != currentUser and allBorrowedBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Be Placed on Waitlist</a>
                                <button th:if="${shelfBook.user != currentUser and allPendingBooks.contains(shelfBook)}" class="btn btn-info btn-block">Request is Pending</button>
                                <a th:if="${shelfBook.user != currentUser and !allBorrowedBooks.contains(shelfBook) and !allPendingBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Borrow</a>
                                <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-info btn-block">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </section>
</div>


<span th:include="includes :: js"></span>
</body>
</html>