<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <section class="small-header-img">
        <div class="container">
            <div class="row col-md-12">
                <section class="row col-md-12">
                    <h1>User's friends</h1>
                </section>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="row col-md-12">
            <div th:if="${friends}" th:each="friend: ${friends}" class="more-margin">
                <form action="/friends/remove" method="post">
                    <a th:href="'/' + ${friend.id}" th:inline="text">Username: [[${friend.username}]]</a>
                    <p th:inline="text">Name: [[${friend.firstName}]] [[${friend.lastName}]]</p>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="friendId" th:value="${friend.id}"/>
                    <button type="submit" name="deleteFriend" class="btn btn-danger btn-xs glyphicon glyphicon-remove inline"></button>
                </form>
            </div>
            <hr/>
            <h4>Search for users by their full name:</h4>
            <form th:action="'/friends/search/name'" method="post">
                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" name="firstName" class="form-control" placeholder="First Name"/>
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" name="lastName" class="form-control" placeholder="Last Name"/>
                </div>
                <div>
                    <input type="submit" class="btn btn-success" value="Search by Name"/>
                </div>
            </form>
            <form th:action="'/friends'" class="reset-search">
                <input type="submit" class="btn btn-success" value="Reset Search and See All Friends"/>
            </form>
            <hr/>
        </section>
        <section class="row col-md-12 more-bottom-padding">
            <h4>Search for users by their username:</h4>
            <form th:action="'/friends/search/username'" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
                </div>
                <input type="submit" class="btn btn-success" value="Search by Username"/>
            </form>
            <form th:action="'/friends'" class="reset-search">
                <input type="submit" class="btn btn-success" value="Reset Search and See All Friends"/>
            </form>
            <hr/>
        </section>
        <section class="row col-md-12 more-height more-bottom-padding">
            <h4>Search Results: </h4>
            <p th:if="${notFriends == null and pendingSearchFriends == null and activeSearchFriends == null}" class="empty">No Search Results</p>
            <div th:if="${notFriends}" th:each="user: ${notFriends}">
                <p th:if="${user == null}" class="empty">No Search Results</p>
                <p th:inline="text">Username: [[${user.username}]]</p>
                <p th:inline="text">Name: [[${user.firstName}]] [[${user.lastName}]]</p>
                <form th:action="'/friends'" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <input type="submit" class="btn btn-success" value="Add Friend"/>
                    <hr/>
                </form>
            </div>
            <div th:if="${pendingSearchFriends}" th:each="user: ${pendingSearchFriends}">
                <p th:if="${user == null}" class="empty">No Search Results</p>
                <p th:inline="text">Username: [[${user.username}]]</p>
                <p th:inline="text">Name: [[${user.firstName}]] [[${user.lastName}]]</p>
                <button class="btn btn-success">Pending Request</button>
                <hr/>
            </div>
            <div th:if="${activeSearchFriends}" th:each="user: ${activeSearchFriends}">
                <p th:if="${user == null}" class="empty">No Search Results</p>
                <a th:href="'/' + ${user.id}" th:inline="text">Username: [[${user.username}]]</a>
                <p th:inline="text">Name: [[${user.firstName}]] [[${user.lastName}]]</p>
                <hr/>
            </div>
        </section>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>