<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to a Friend's Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../static/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
<div class="container">
    <section class="row col-md-12">
        <h1>
            <span th:text="${user.firstName}"></span>
            <span>'s Library</span>
        </h1>
        <form class="form-inline" th:action="'/' + ${user.id}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="searchQuery" placeholder="Search"/>
            </div>
            <div class="form-group">
                <select name="searchType" class="form-control">
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                </select>
            </div>
            <span>
                <input type="submit" class="btn btn-info" value="Search"/>
            </span>
            <span>
                <a th:href="'/' + ${user.id}" class="btn btn-info">Clear Search</a>
            </span>
        </form>
        <h3>
            <span th:text="${user.firstName}"></span>
            <span>'s Books</span>
        </h3>
        <div th:each="book: ${books}" class="panel panel-default container">
            <div class="book-info">
                <img th:src="${book.img}" alt="book cover"/>
                <p th:text="${book.title}"></p>
                <p th:text="${book.author}"></p>
            </div>
            <div class="book-btns">
                <a th:if="${book.user != currentUser and allBorrowedBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-success">Be Placed on Waitlist</a>
                <button th:if="${book.user != currentUser and allPendingBooks.contains(book)}" class="btn btn-success">Request is Pending</button>
                <a th:if="${book.user != currentUser and !allBorrowedBooks.contains(book) and !allPendingBooks.contains(book)}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-success">Borrow</a>
                <a th:href="'/book/' + ${book.id}" class="btn btn-success">See Details</a>
            </div>
            <p th:if="${book.user != currentUser and allBorrowedBooks.contains(book)}">This book has been borrowed</p>
        </div>
        <h3 th:if="${shelves}">
            <span th:text="${user.firstName}"></span>
            <span>'s Shelves</span>
        </h3>
        <a class="btn btn-success" th:href="${user.id} + '/shelf'">See All Shelves</a>
        <div th:if="${shelves}" th:each="shelf : ${shelves}" class="panel panel-default container">
            <div class="row shelf">
                <h4 th:text="${shelf.name}"></h4>
                <a class="btn btn-success" th:href="'/shelf/' + ${shelf.id}">See More</a>
                <div th:each="shelfBook : ${shelf.books}" class="panel panel-default">
                    <div class="book-info">
                        <img th:src="${shelfBook.img}" alt="book cover"/>
                        <p th:text="${shelfBook.title}"></p>
                        <p th:text="${shelfBook.author}"></p>
                    </div>
                    <div class="book-btns">
                        <a th:if="${shelfBook.user != currentUser and allBorrowedBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-success">Be Placed on Waitlist</a>
                        <button th:if="${shelfBook.user != currentUser and allPendingBooks.contains(shelfBook)}" class="btn btn-success">Request is Pending</button>
                        <a th:if="${shelfBook.user != currentUser and !allBorrowedBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-success">Borrow</a>
                        <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-success">See Details</a>
                    </div>
                    <p th:if="${allBorrowedBooks.contains(shelfBook)}">This book has been borrowed</p>
                </div>
            </div>
        </div>
    </section>
</div>


<span th:include="includes :: js"></span>
</body>
</html>