<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your Library</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <section class="row">
            <h1>
                <span>Welcome </span>
                <span th:text="${user.firstName}"></span>
            </h1>
            <form th:action="@{/searchToAdd}">
                <div class="input-field col s12 m4 l4">
                    <input type="text" name="searchText" placeholder="Search"/>
                </div>
                <div class="input-field col s12 m3 l3">
                    <select name="searchBy">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                    </select>
                </div>
                <div class="input-field col s12 m3 l3">
                    <select name="searchIn" class="form-control">
                        <option value="mine">Search in My Collection</option>
                        <option value="borrow">Search to Borrow</option>
                        <option value="add">Search to Add a New Book</option>
                    </select>
                </div>
                <button type="submit" class="btn blue-grey lighten-3 search-btn">Search</button>
            </form>
        </section>
        <section class="row">
            <h3>My Books</h3>
            <div th:each="book: ${books}" class="s3 m3 l3">
                <div class="card">
                    <div class="card-image">
                        <img th:src="${book.img}" alt="book cover"/>
                    </div>
                    <div class="card-content">
                        <p th:text="${book.title}"></p>
                        <p th:text="${book.author}"></p>
                    </div>
                    <div class="card-action">
                        <a th:href="'/book/' + ${book.id} + '/edit'" class="btn brown lighten-2">Edit</a>
                        <a th:href="'/book/' + ${book.id}" class="btn brown lighten-2">See Details</a>
                    </div>
                    <p th:if="${allBorrowedBooks.contains(book)}">This book has been borrowed</p>
                </div>
                <h3>My Shelves</h3>
            </div>
            <div th:each="shelf : ${shelves}" class="panel panel-default">
                <div class="row shelf">
                    <h4 th:text="${shelf.name}"></h4>
                    <a class="btn brown lighten-2" th:href="'/shelf/' + ${shelf.id}">See More</a>
                    <div th:each="shelfBook : ${shelf.books}" class="panel panel-default">
                        <div class="book-info">
                            <img th:src="${shelfBook.img}" alt="book cover"/>
                            <p th:text="${shelfBook.title}"></p>
                            <p th:text="${shelfBook.author}"></p>
                        </div>
                        <div class="book-btns">
                            <a th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn brown lighten-2">Edit</a>
                            <a th:href="'/book/' + ${shelfBook.id}" class="btn brown lighten-2">See Details</a>
                        </div>
                        <p th:if="${allBorrowedBooks.contains(shelfBook)}">This book has been borrowed</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <span th:include="includes :: js"></span>
</body>
</html>