<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
    <section class="header-img">
        <div class="container">
            <div class="row col-md-12">
                <h1>
                    <span>Welcome </span>
                    <span th:text="${user.firstName}"></span>
                </h1>
                <form class="form-inline" th:action="@{/searchToAdd}">
                    <div class="form-group">
                        <input type="text" name="searchText" class="form-control" placeholder="Search"/>
                    </div>
                    <div class="form-group">
                        <select name="searchBy" class="form-control">
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="searchIn" class="form-control">
                            <option value="mine">Search in My Collection</option>
                            <option value="borrow">Search to Borrow</option>
                            <option value="add">Search to Add a New Book</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-success" value="Search"/>
                </form>
            </div>
        </div>
    </section>
<div class="container">
    <section class="col-md-12">
        <div class="all-books">
            <h3 class="all-books-name">My Books</h3>
            <span><a class="btn btn-success see-more" href="/bookAll">See More</a></span>
        </div>
        <div class="row">
            <div th:each="book, iterStat: ${books}" th:if="${iterStat.index >= iterStat.size-4}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                <div class="book-cover">
                    <img th:src="${book.img}" alt="book cover"/>
                </div>
                <div class="caption">
                    <div class="book-info">
                        <h5 th:text="${book.title}"></h5>
                        <p th:text="${book.author}"></p>
                        <p th:if="${allBorrowedBooks.contains(book)}" class="borrowed-text">This book has been borrowed</p>
                    </div>
                    <div class="book-btns">
                        <a th:href="'/book/' + ${book.id} + '/edit'" class="btn btn-info btn-block">Edit</a>
                        <a th:href="'/book/' + ${book.id}" class="btn btn-info btn-block">See Details</a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </section>
    <section class="row col-md-12">
        <div class="shelf-info">
            <h3 class="shelf-name">My Shelves</h3>
            <span><a class="btn btn-success see-more" href="/shelf">See All Shelves</a></span>
        </div>
        <div class="container">
            <div th:each="shelf : ${shelves}" class="row">
                <div class="row shelf container">
                    <div class="shelf-info">
                        <h4 class="shelf-name" th:text="${shelf.name}"></h4>
                        <span><a class="btn btn-success see-more" th:href="'/shelf/' + ${shelf.id}">See More</a></span>
                    </div>
                    <div th:each="shelfBook, iterStat : ${shelf.books}" th:if="${iterStat.index >= iterStat.size-4}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                        <div class="book-cover">
                            <img th:src="${shelfBook.img}" alt="book cover"/>
                        </div>
                        <div class="caption">
                            <div class="book-info">
                                <p th:text="${shelfBook.title}"></p>
                                <p th:text="${shelfBook.author}"></p>
                                <p th:if="${allBorrowedBooks.contains(shelfBook)}" class="borrowed-text">This book has been borrowed</p>
                            </div>
                            <div class="book-btns">
                                <a th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn btn-info btn-block">Edit</a>
                                <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-info btn-block">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </section>
</div>


<span th:include="includes :: js"></span>
</body>
</html>