<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your Library</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../static/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <section class="row col-md-12">
            <h1>
                <span>Welcome </span>
                <span th:text="${user.firstName}"></span>
            </h1>
            <form class="form-inline" action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="keyword">Keyword</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="mine">Search in My Collection</option>
                        <option value="borrow">Search to Borrow</option>
                        <option value="add">Search to Add a New Book</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-info" value="Search"/>
            </form>
            <h3>My Books</h3>
            <div th:each="book: ${books}" class="panel panel-default container">
                <div class="book-info">
                    <img th:src="${book.img}" alt="book cover"/>
                    <p th:text="${book.title}"></p>
                    <p th:text="${book.author}"></p>
                </div>
                <div class="book-btns">
                    <a th:href="'/book/' + ${book.id} + '/edit'" class="btn btn-success">Edit</a>
                    <a th:href="'/book/' + ${book.id}" class="btn btn-success">See Details</a>
                </div>
            </div>
            <h3>My Shelves</h3>
            <div class="panel panel-default container">
                <div class="shelf-info">
                    <p>shelf name</p>
                </div>
            </div>
        </section>
    </div>


    <span th:include="includes :: js"></span>
</body>
</html>