<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../static/styles.css}"/>
</head>
<body>
    <div class="container">
        <h1>Log in to your Digital Library</h1>
        <div style="color: red;" th:text="${error}"></div>
        <form th:action="@{/login}" th:object="${user}" class="horizontal-form" method="post">
            <div class="form-group">
                <label for="username-login" class="control-label">Username: </label>
                <input type="text" name="usernameLogin" id="username-login" class="form-control" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <label for="password-login" class="control-label">Password: </label>
                <input type="password" name="passwordLogin" id="password-login" class="form-control" th:field="*{password}"/>
            </div>
            <button type="submit" class="btn btn-success">Login!</button>
        </form>
        <hr/>
        <h3>Don't have an account?</h3>
        <a th:href="@{/signup}" class="btn btn-info">Sign Up Here!</a>
    </div>

</body>
</html>