<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Requests</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <h1>All Requests</h1>
        <div class="friend-requests">
            <h3>Friend Requests</h3>
            <div th:each="request : ${friendRequests}">
                <span th:text="${request.fromuser.username}"></span>
                <span> has sent you a friend request!</span>
                <form th:action="'/requests/friend' + ${request.id}" method="post">
                    <input type="submit" name="answer" class="btn btn-success" value="Accept"/>
                    <input type="submit" name="answer" class="btn btn-success" value="Deny"/>
                </form>
            </div>
        </div>
        <hr/>
        <div class="book-requests">
            <h3>Book Requests</h3>
            <p>{Friend Name} would like to borrow {Book Name}</p>
            <p>{Message they've included goes here}</p>
            <button class="btn btn-success">Accept</button>
            <button class="btn btn-success">Deny</button>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>