<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Requests</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <h1>All Requests</h1>
        <div class="friend-requests">
            <h3>Friend Requests</h3>
            <div th:each="request : ${friendRequests}">
                <span th:text="${request.fromuser.username}"></span>
                <span> has sent you a friend request!</span>
                <form th:action="'/requests/friend' + ${request.id}" method="post">
                    <input type="submit" name="answer" class="btn btn-success" value="Accept"/>
                    <input type="submit" name="answer" class="btn btn-success" value="Deny"/>
                </form>
            </div>
        </div>
        <hr/>
        <div class="book-requests">
            <h3>Book Requests</h3>
            <div th:each="request : ${bookRequests}">
                <span th:text="${request.fromuser.username}"></span>
                <span> would like to borrow </span>
                <span th:text="${request.bookid.title}"></span>
                <form class="form-inline" th:action="'/requests/book/accept/' + ${request.id}" method="post">
                    <div class="form-group">
                        <label for="due-date">Due Date:</label>
                        <input type="date" name="dueDate" id="due-date" required="required"/>
                    </div>
                    <input type="submit" name="answer" class="btn btn-success" value="Accept"/>
                </form>
                <form th:action="'/requests/book/deny/' + ${request.id}" method="post">
                    <input type="submit" name="answer" class="btn btn-success" value="Deny"/>
                </form>
            </div>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>