<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search to Borrow</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <h1>Search to see who has your book</h1>
        <div th:each="book : ${books}">
            <p th:text="${book.title}"></p>
            <p th:text="${book.author}"></p>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>