<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search to Add</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
<section class="header-img">
    <div class="container">
        <div class="row col-md-12">
            <h1>Search to Add a Book</h1>
            <form class="form-inline" th:action="@{/searchToAdd}">
                <div class="form-group">
                    <select name="searchBy" class="form-control" onchange="searchByTitleAndAuthor()" id="searchBy">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="titleAndAuthor">Title and Author</option>
                    </select>
                </div>
                <div class="form-group" id="titleSearch">
                    <input type="text" name="titleSearch" class="form-control" placeholder="Title"/>
                </div>
                <div class="form-group hidden" id="authorSearch">
                    <input type="text" name="authorSearch" class="form-control" placeholder="Author"/>
                </div>
                <div class="form-group">
                    <select name="searchIn" class="form-control">
                        <option value="add" selected="selected">Search to Add a New Book</option>
                        <option value="mine">Search in My Collection</option>
                        <option value="borrow">Search to Borrow</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Search"/>
            </form>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div th:if="${volumes != null}" th:each="volume : ${volumes}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
            <div class="book-cover">
                <img th:if="${volume.volumeInfo.imageLinks != null}" th:src="${volume.volumeInfo.imageLinks.thumbnail}" class="book-cover" alt="book cover"/>
                <!--Image for blank cover from here: https://authors.bookfunnel.com/help/adding_and_editing_your_books/-->
                <img th:if="${volume.volumeInfo.imageLinks == null}" src="/img/no-cover-thumbnail.jpg" alt="missing book cover"/>
            </div>
            <div class="caption">
                <div class="book-info">
                    <h5 th:text="${volume.volumeInfo.title}"></h5>
                    <div th:each="author, iterStat : ${volume.volumeInfo.authors}">
                        <span th:text="${author}"></span>
                        <span th:if="${!iterStat.last}">, </span>
                    </div>
                </div>
                <div class="book-btns">
                    <button th:if="${ownedBooks.contains(volume.id)}" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> You Own</span>
                    </button>
                    <form th:if="${!ownedBooks.contains(volume.id)}" action="/bookAdd" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="title" th:value="${volume.volumeInfo.title}"/>
                        <input type="hidden" name="authors" th:value="${volume.volumeInfo.authors}"/>
                        <input type="hidden" name="img" th:if="${volume.volumeInfo.imageLinks != null}" th:value="${volume.volumeInfo.imageLinks.thumbnail}"/>
                        <input type="hidden" name="img" th:if="${volume.volumeInfo.imageLinks == null}" value="/img/no-cover-thumbnail.jpg"/>
                        <input type="hidden" name="summary" th:value="${volume.volumeInfo.description}"/>
                        <input type="hidden" name="publishedDate" th:value="${volume.volumeInfo.publishedDate}"/>
                        <input type="hidden" name="googleId" th:value="${volume.id}"/>
                        <input type="submit" class="btn btn-info btn-block" value="Add"/>
                    </form>
                    <form th:action="'/searchDetail/' + ${volumeStat.index}">
                        <input type="hidden" name="searchBy" th:value="${searchBy}"/>
                        <input type="hidden" name="searchText" th:value="${titleSearch}"/>
                        <input type="hidden" name="searchText" th:value="${authorSearch}"/>
                        <input type="submit" class="btn btn-info btn-block" value="See Details"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<span th:include="includes :: js"></span>
</body>
</html>