<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${volume.volumeInfo.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:include="includes :: navbar"></div>
<div class="container">
    <h1>
        <span>Unowned book: </span>
        <span th:text="${volume.volumeInfo.title}"></span>
    </h1>
    <div class="book-detail-info">
        <img th:src="${volume.volumeInfo.imageLinks.thumbnail}" alt="book cover"/>
        <h4 th:text="${volume.volumeInfo.title}"></h4>
        <div th:each="author : ${volume.volumeInfo.authors}">
            <span th:text="${author}"></span>
        </div>
        <p>
            <span>Date Published:</span>
            <span th:text="${volume.volumeInfo.publishedDate}"></span>
        </p>
        <p th:text="${volume.volumeInfo.description}"></p>
    </div>
    <div class="book-btns">
        <a href="#" class="btn btn-success">Add</a>
    </div>
</div>
<span th:include="includes :: js"></span>
</body>
</html>