<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your shelves</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <section class="small-header-img">
        <div class="container">
            <div class="row col-md-12">
                <h1 th:inline="text">All [[${shelfOwner.username}]]'s Shelves</h1>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="row col-md-12">
            <div th:if="${currentUser.id != shelfOwner.id}" class="heading">
                <span><a th:href="'/' + ${shelfOwner.id}" th:inline="text" class="btn btn-success see-more">Back to [[${shelfOwner.username}]]'s Home Page</a></span>
            </div>
            <hr th:if="${currentUser.id == shelfOwner.id}"/>
            <div th:if="${currentUser.id == shelfOwner.id}">
                <h3>Add a new shelf</h3>
                <form action="/shelf" class="form-inline name-heading" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <label for="name">New Shelf Name: </label>
                        <input type="text" id="name" class="form-control" name="name" placeholder="Shelf Name"/>
                    </div>
                    <input type="submit" class="btn btn-success" value="Create Shelf"/>
                </form>
                <span><a href="/" th:inline="text" class="btn btn-success see-more">Back to your Home Page</a></span>
                <hr/>
            </div>
        </section>
        <section class="row col-md-12 container">
            <div th:each="shelf : ${shelves}" class="row">
                <div class="row shelf container">
                    <div class="shelf-info">
                        <h4 class="shelf-name" th:text="${shelf.name}"></h4>
                        <span><a class="btn btn-success see-more" th:href="'/shelf/' + ${shelf.id}">See More</a></span>
                    </div>
                    <div th:each="shelfBook, iterStat: ${shelf.books}" th:if="${iterStat.index >= iterStat.size-4}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                        <div class="book-cover">
                            <img th:src="${shelfBook.img}" alt="book cover"/>
                        </div>
                        <div class="caption">
                            <div class="book-info">
                                <p th:text="${shelfBook.title}"></p>
                                <p th:text="${shelfBook.author}"></p>
                                <p th:if="${allBorrowedBooks.contains(shelfBook)}" class="borrowed-text">This book has been borrowed</p>
                            </div>
                            <div class="book-btns">
                                <a th:if="${currentUser.id == shelfOwner.id}" th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn btn-info btn-block">Edit</a>
                                <a th:if="${shelfBook.user.username != currentUser.username and allBorrowedBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Be Placed on Waitlist</a>
                                <button th:if="${shelfBook.user != currentUser and allPendingBooks.contains(shelfBook)}" class="btn btn-info btn-block">Request is Pending</button>
                                <a th:if="${currentUser.id != shelfOwner.id and !allBorrowedBooks.contains(shelfBook) and !allPendingBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Borrow</a>
                                <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-info btn-block">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </section>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>