<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${shelf.name}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <section class="small-header-img">
        <div class="container">
            <div class="row col-md-12">
                <h1 th:text="${shelf.name}"></h1>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="row col-md-12">
            <div class="heading">
                <span><a th:if="${currentUser == shelf.user}" href="/shelf" th:inline="text" class="btn btn-success see-more see-more-detail">Back to your Shelves</a></span>
                <span><a th:if="${currentUser != shelf.user}" th:href="'/' + ${shelf.user.id} + '/shelf'" th:inline="text" class="btn btn-success see-more">Back to [[${shelf.user.username}]]'s Shelves</a></span>
                <span><a th:if="${shelf.user.id == currentUser.id}" th:href="'/shelf/' + ${shelf.id} + '/edit'" class="btn btn-success see-more edit-shelf">Edit Shelf</a></span>
            </div>
        </section>
        <section class="row col-md-12 container">
            <div th:each="shelfBook : ${shelf.books}" class="thumbnail col-xs-12 col-sm-4 col-md-3">
                <div class="book-cover">
                    <img th:src="${shelfBook.img}" alt="book cover"/>
                </div>
                <div class="caption">
                    <div class="book-info">
                        <p th:text="${shelfBook.title}"></p>
                        <p th:text="${shelfBook.author}"></p>
                        <p th:if="${allBorrowedBooks.contains(shelfBook)}" class="borrowed-text">This book has been borrowed</p>
                    </div>
                    <div class="book-btns">
                        <a th:if="${currentUser.id == shelf.user.id}" th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn btn-info btn-block">Edit</a>
                        <a th:if="${shelfBook.user.username != currentUser.username and allBorrowedBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Be Placed on Waitlist</a>
                        <button th:if="${shelfBook.user.username != currentUser.username and allPendingBooks.contains(shelfBook) and !allBorrowedBooks.contains(shelfBook)}" class="btn btn-info btn-block">Request is Pending</button>
                        <a th:if="${shelfBook.user.username != currentUser.username and !allBorrowedBooks.contains(shelfBook) and !allPendingBooks.contains(shelfBook)}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-info btn-block">Borrow</a>
                        <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-info btn-block">See Details</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>