<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${shelf.name}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <h1 th:text="${shelf.name}"></h1>
        <a th:if="${shelf.user.id == currentUser.id}" th:href="'/shelf/' + ${shelf.id} + '/edit'" class="btn btn-info">Edit Shelf</a>
        <div th:each="shelfBook : ${shelf.books}" class="panel panel-default">
            <div class="book-info">
                <img th:src="${shelfBook.img}" alt="book cover"/>
                <p th:text="${shelfBook.title}"></p>
                <p th:text="${shelfBook.author}"></p>
            </div>
            <div class="book-btns">
                <a th:if="${currentUser.id == shelf.user.id}" th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn btn-success">Edit</a>
                <a th:if="${currentUser.id != shelf.user.id}" th:href="'/book/' + ${book.id} + '/borrow'" class="btn btn-success">Borrow</a>
                <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-success">See Details</a>
            </div>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>