<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome to your shelves</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div th:include="includes :: navbar"></div>
    <div class="container">
        <h1>All Shelves</h1>
        <hr th:if="${currentUser.id == shelfOwner.id}"/>
        <div th:if="${currentUser.id == shelfOwner.id}">
            <h3>Add a new shelf</h3>
            <!--MAKE THIS A BOOTSTRAP HORIZONTAL FORM-->
            <form action="/shelf" class="form-inline" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <label for="name">New Shelf Name: </label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Shelf Name"/>
                </div>
                <input type="submit" class="btn btn-info" value="Create Shelf"/>
            </form>
        </div>
        <hr/>
        <div th:each="shelf : ${shelves}" class="panel panel-default container">
            <div class="row shelf">
                <h4 th:text="${shelf.name}"></h4>
                <a class="btn btn-success" th:href="'/shelf/' + ${shelf.id}">See More</a>
                <div th:each="shelfBook : ${shelf.books}" class="panel panel-default">
                    <div class="book-info">
                        <img th:src="${shelfBook.img}" alt="book cover"/>
                        <p th:text="${shelfBook.title}"></p>
                        <p th:text="${shelfBook.author}"></p>
                    </div>
                    <div class="book-btns">
                        <a th:if="${currentUser.id == shelfOwner.id}" th:href="'/book/' + ${shelfBook.id} + '/edit'" class="btn btn-success">Edit</a>
                        <a th:if="${currentUser.id != shelfOwner.id}" th:href="'/book/' + ${shelfBook.id} + '/borrow'" class="btn btn-success">Borrow</a>
                        <a th:href="'/book/' + ${shelfBook.id}" class="btn btn-success">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span th:include="includes :: js"></span>
</body>
</html>