<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div class="container">
        <h1>Sign up</h1>
        <div style="color: red;" th:text="${error}"></div>
        <form th:action="@{/signup}" th:object="${user}" class="horizontal-form" method="post">
            <div class="form-group">
                <label for="first-name" class="control-label">First Name: </label>
                <input type="text" name="firstName" id="first-name" class="form-control" th:field="*{firstName}"/>
            </div>
            <div class="form-group">
                <label for="last-name" class="control-label">Last Name: </label>
                <input type="text" name="lastName" id="last-name" class="form-control" th:field="*{lastName}"/>
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email: </label>
                <input type="email" name="email" id="email" class="form-control" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label for="username-signup" class="control-label">Username: </label>
                <input type="text" name="usernameSignup" id="username-signup" class="form-control" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <label for="password-signup" class="control-label">Password: </label>
                <input type="password" name="passwordSignup" id="password-signup" class="form-control" th:field="*{password}"/>
            </div>
            <input type="submit" class="btn btn-success" value="Sign up!"/>
        </form>
        <hr/>
        <a href="/login" class="btn btn-info more-padding">Go Back to Login</a>
    </div>
</body>
</html>